<%= form_for mushroom do |form| %>
    <% if mushroom.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(mushroom.errors.count, "error") %> prohibited this mushroom from being saved:</h2>
  
        <ul>
          <% mushroom.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class ="input-name">
    <%= form.label :name, "Name:", style: "margin: 10px" %>
    <%= form.text_field :name, class: "form-fields", style: "margin: 5px" %>
    
    </div>

    <div class ="input-body">
        <%= form.label :body, "Body:", style: "margin: 10px" %>
        <%= form.text_field :body, class: "form-fields" %>
    </div>

    <div class ="input-boolean">
        <%= form.label :psychedelic, "Psychedelic?", style: "margin: 10px" %>
        <%= form.check_box :psychedelic, checked: @mushroom.psychedelic %>
      
        <%= form.label :deadly, "Deadly?", style: "margin: 10px" %>
        <%= form.check_box :deadly, checked: @mushroom.deadly %>
    </div>

    <div class ="input-img">
    <%= form.label :img, "Image:", style: "margin: 10px" %>
    <%= form.text_field :img, class: "form-fields", style: "margin: 5px" %>

    </div>
  
    <div class ="input-btn">
    <%= form.submit "Submit", class: "edit-btn" %>

    </div>   
<% end %>