<div id="<%= dom_id mushroom %>">
  <p>
    <strong>Fungi:</strong>
    <%= mushroom.name %>

    <br>

    <strong>Description:</strong>
    <%= mushroom.body %>

    <br>

    <strong>Psychedelic/Psilocybin?</strong>
    <%= mushroom.psychedelic %>

    <br>

    <strong>Deadly?</strong>
    <%= mushroom.deadly %>
  </p>

</div>