<%= form_with(model: @mushroom, url: mushroom_path(@mushroom), method: :patch) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <%= form_with model: @mushroom do |form| %>
    <%= form.label :psychedelic %>
    <%= form.check_box :psychedelic, checked: @mushroom.psychedelic %>
  
    <%= form.label :deadly %>
    <%= form.check_box :deadly, checked: @mushroom.deadly %>

  
    <%= form.submit %>
  <% end %>

  <%= button_to "Delete Mushroom", mushroom_path(@mushroom), method: :delete, data: { confirm: "Are you sure you want to delete this mushroom?" } %>

  <%= image_tag @mushroom.img %>
  
  <%= link_to "Back to Mushrooms", mushrooms_path %>
<% end %>

