<%= form_with(model: @mushroom, url: mushroom_path(@mushroom), method: :patch) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <%= form.label :psychedelic %>
    <%= form.check_box :psychedelic %>
  </div>

  <div class="field">
  <%= form.label :deadly %>
  <%= form.check_box :deadly %>
</div>

  <%= form.submit "Update Mushroom" %>
  <%= link_to "Back to Mushrooms", mushrooms_path %>
<% end %>