<%= form_with(model: @mushroom, url: mushroom_path(@mushroom), method: :patch) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <%= form.submit "Update Mushroom" %>
<% end %>