<p style="color: green"><%= notice %></p>

<h1>Your Mushrooms</h1>

<h3>In recent years, a body of remarkable experiments have shown that fungi operate as individuals, engage in decision-making, are capable of learning, and possess short-term memory.</h3>

<ul>
  <% current_user.default_mushrooms.each do |mushroom| %>
    <li>
      <%= mushroom.name %>
      <% if mushroom.img %>
      <%= image_tag(mushroom.img) %>
      <% else %>
      <%= image_tag "DrawnMushie.jpg", width: "100" %>
      <% end %>
      <%= link_to "Show", mushroom_path(mushroom) %>
      <%= link_to "Edit", edit_mushroom_path(mushroom) %>
      <%= button_to "Delete", mushroom, method: :delete %>
    </li>
  <% end %>
</ul>
<%= button_to "See Tools", mushrooms_tools_path, method: :get %>
<%= link_to "Back to Home", users_home_path %>
<%= link_to "New Mushroom", new_mushroom_path %>