<p style="color: green"><%= notice %></p>

<h1 id="urmushies">Your Mushrooms</h1>

<div class="mushrooms">
<ul class="mushroom-grid">
  <% current_user.default_mushrooms.each do |mushroom| %>
    <li class="mushie">
    <span class="mushname"><%= mushroom.name %></span>
      <% if mushroom.img %>
      <%= image_tag(mushroom.img, size: '275x400') %>
      <% else %>
      <%= image_tag "DrawnMushie.jpg", width: "100" %>
      <% end %>
      <%= link_to "Show", mushroom_path(mushroom) %>
      <%= link_to "Edit", edit_mushroom_path(mushroom) %>
      <%= button_to "Delete", mushroom, method: :delete %>
    </li>
  <% end %>
</ul>
</div>

<%= button_to "See Tools", mushrooms_tools_path, method: :get %>
<%= link_to "Back to Home", users_home_path %>
<%= link_to "New Mushroom", new_mushroom_path %>