<p style="color: green"><%= notice %></p>

<div class="shrooms">
<h1 id="urmushies" class="letter-spacing">Your Mushrooms</h1>

<div class="mushrooms">
<ul class="mushroom-grid">
  <% current_user.default_mushrooms.each do |mushroom| %>
    <li class="mushie">
    <span class="mushname letter-spacing"><%= mushroom.name %></span>
      <% if mushroom.img %>
      <span class="shroomm"><%= image_tag(mushroom.img) %></span>
      <% else %>
      <%= image_tag "DrawnMushie.jpg", width: "100" %>
      <% end %>
      <div class="action-btns-container">
      <div class="action-btns">
      <%= link_to "Show", mushroom_path(mushroom) %>
      </div>
      <div class="action-btns">
      <%= link_to "Edit", edit_mushroom_path(mushroom) %>
      </div>
      <div class="action-btns">
      <%= link_to "Delete", mushroom, method: :delete %>
      </div>
      </div>
    </li>
  <% end %>
</ul>
</div>
<%= button_to "Add new mushroom", new_mushroom_path %>
</div>