<h1>New Mushroom</h1>

<%= form_with(model: @mushroom, url: mushrooms_path) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <%= form.submit "Create Mushroom" %>
<% end %>