<h1><%= @mushroom.name %></h1>

<p><%= @mushroom.body %></p>

<%= link_to "Edit", edit_mushroom_path(@mushroom) %> |
<%= link_to "Back to Mushrooms", mushrooms_path %>
<%= button_to "Delete Mushroom", mushroom_path(@mushroom), method: :delete, data: { confirm: "Are you sure you want to delete this mushroom?" } %>
<%= link_to "New Mushroom", new_mushroom_path %>