<h1>Welcome to the Foragers Guide To Mushrooms... And Not Dying</h1>

<ul>
  <% @default_mushrooms.each do |mushroom| %>
    <li><%= mushroom.name %> 
    <br>
    <%= mushroom.body %> 
    <br>
    <p>Psychedelic? <%= mushroom.psychedelic %></p> 
    <p>Deadly? <%= mushroom.deadly %> </p>
    <br>
    <%= image_tag(mushroom.img) %></li>
  <% end %>
</ul>


