<!DOCTYPE html>
<html>
  <head>
    <title>ForagersGuideToMushrooms</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "devise": "reload" %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <%= yield %>
  <header>
  <% if user_signed_in? %>
  <!-- HTML code -->

<nav class="navbar">
  <a href="#" class="navbar-brand">Foragers Guide To Mushrooms</a>

  <ul class="navbar-nav">

  <li class="nav-item">
  <%= button_to "Back to Home", users_home_path, method: :get, class: "nav-link" %>
</li>
    <li class="nav-item">
      <%= button_to "See your mushrooms", mushrooms_path, method: :get, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= button_to "See tools you'll need", mushrooms_tools_path, method: :get, class: "nav-link" %>
    </li>
    <li class="nav-item">
    <%= button_to "Logout", destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link" %>
  </li>
    <li class="nav-item">
      <%= button_to "Delete Account", registration_path(current_user), data: { confirm: "Are you sure?" }, method: :delete, class: "nav-link" %>
    </li>
  </ul>
</nav>

  <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete } %>
  <% else %>
    <%= link_to "Login", new_user_session_path %>
  <div style="margin-top: 10px;">
    <%= link_to "Sign up", new_user_registration_path %>
  </div>
  <% end %>
  </header>
  </body>
</html>
